body {
    background-color: tomato;
}

canvas {
    background-color: turquoise;
}

table {
    border: 1px solid darkred;
    overflow: hidden;
}

tr, td {
    border: 1px solid darkred;
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.food {
    background-color: lime;
}

.head {
    background-color: red;
}

.body {
    background-color: yellow;
}

.tail {
    background-color: orange;
}