html {
    height: 100%;
}

body {
    color: #003000;
    background-image: linear-gradient(#0D4E0D,#398439);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
}

table {
    border: 2px solid #0D4E0D;
    overflow: hidden;
}

tr, td {
    /*border: 1px solid #5DA25D;*/
    width: 25px;
    height: 25px;
    overflow: hidden;
}

#score {
    color: yellow;
}

.head {
    background-color: #0D4E0D;
    border-radius: 50px;
}

.body {
    background-color: #398439;
    border-radius: 50px;
}

.tail {
    background-color: #5DA25D;
    border-radius: 50px;
}

.food {
    background-color: red;
    border-radius: 50px;
}

.leaf {
    background-color: #398439;
    border-radius: 50px;
}